name: Run tests

on: 
  - push
  - pull_request

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: npm test

      - name: Start DB via Docker Compose
        run: |
          PORT=3306 \
          MYSQL_ROOT_PASSWORD=password \
          docker compose up -d mysql

      - name: Run api tests
        run: npm run test:api
